body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #849d8f;
  /*
  background-color: #8996a6;
  background-color: #9d8b84;
  */
}

.site-wrapper {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.background-wrapper {
  background-image: url("../img/background-index1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.round {
  border-radius: 140px;
  border: none;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
}

 .main-navigation,
 .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.site-navigation {
  width: 500px;
}

.user-navigation {
  width: 267px;
  /*Немного не помещается, когда будет лупа вместо
  инпута будет в самый раз*/
}

.site-navigation,
.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation > li > a {
  margin-right: 15px;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation > .current > a {
  padding: 5px 15px;
  border-radius: 60px;

  color: #ffffff;
  text-decoration: none;

  background-color: #d07058;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  display: block;
  padding: 5px 15px;
  border-radius: 60px;

  color: #333333;
  text-decoration: none;

  background-color: #f8f7f4;
}

.site-navigation a:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.header-contacts {
  float: right;
  margin-right: 10px;
  /*Это вообще законно?*/
}

.site-navigation > li {
  position: relative;
  margin-left: 15px;
}

.site-navigation .kind-of-item {
  position: absolute;
  display: none;
  top: 30px;
  left: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

div .sub-menu {
  position: absolute;
  top: -5px;
  left: -30px;
  width: 95px;
  height: 300px;
  margin-top: 15px;
}

.site-navigation div.sub-menu:hover .kind-of-item {
  display: block;
}

.sub-menu ul:first-child {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #323232;
}

.kind-of-item a {
  width: 143px;
  display: inline-block;
  padding: 15px 0 15px 20px;
  box-sizing: border-box;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;

  background-color: #f8f7f4;
}

.kind-of-item-current a {
  color: #000000;

  background-color: #d07058;
}

.kind-of-item a:hover,
.kind-of-item a:focus {
  background-color: #fbded7;
}

.kind-of-item a:active {
  background-color: #f6b5a5;
}

.search input[type="search"]{
  color: #999999;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search input[type="search"]:hover,
.search input[type="search"]:focus {
  border: 2px solid #d3d3d2;
}

.user-navigation a {
  margin-left: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;

  background-color: #aabcb2;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #ffffff;
}

.header-contacts p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-contacts a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

.slider-switches {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-1 .button {
  display: inline-block;
  padding: 15px 55px;
  margin: 40px 200px;
}

/* и другие стили слайдера...*/
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  margin-right: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

h1 {/*Картинка фон? Или текст поверх нее?*/
  margin: 0;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
}

.filter {
  display: flex;
  margin-top: 30px;
  width: 700px;
  flex-wrap: wrap;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border: none;
}

.filter legend {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter select,
.filter-mask,
.filter button {
  padding: 5px;
  border-radius: 60px;

  color: #ffffff;
  line-height: 18px;

  background-color: #aabcb2;
  border: none;
}

.filter button:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter button:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog-list ul,
.bestsellers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bestsellers-wrap,
.catalog-list-wrapper {
  width: 1174px;
  margin: 45px auto;
}

.item {
  width: 293px;
}

.item article {
  padding: 0 13px;
  text-align: center;
}

.item a {
  color: #ffffff;
  text-decoration: none;
}

.item h3 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.item p {
  display: none;
}

.item:hover {
  background-color: #92a99c;
}

.item:hover p {
  display: block;
  padding: 5px 15px;
  border-radius: 60px;
  width: 200px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  background-color: #ee5d3e;
}

.item p:hover,
.item p:focus {
  background-color: #f38266;
}

.item p:active {
  background-color: #db5238;
  box-shadow: inset 0px 2px 2px #942718 ;
}

.item .price {
  font-size: 45px;
  color: #ffffff;
  line-height: 45px;
}
/*как альтернативный вариант вместо графического изображения?*/
.ruble {
  font-size: 37px;
  font-weight: 500;
}

.item .weight {
  font-size: 30px;
  color: #ffffff;
  line-height: 45px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  margin-right: 5px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus {
  color: #ffffff;

  background-color: #9bafa4;
  /*пока не знаю как сделать прозрачную подложку*/
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.footer-social {
  width: 267px;/*267 Сейчас маловат...*/
}

.footer-social  a {
  margin-right: 5px;

  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info a {
  color: #ffffff;
  text-decoration: none;
}

.info {
  width: 330px;
}

.info p {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.footer-copyright {
  width: 267px;
}

.footer-copyright a,
.footer-copyright p {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.login-form {
  background-color: #f8f7f4;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  color: #999999;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form input[type="email"]:hover,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:hover,
.login-form input[type="password"]:focus {
  border: 2px solid #d3d3d2;
}

.help a {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.button a ,
.button {
  padding: 5px 15px;
  border-radius: 60px;

  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;

  background-color: #ee5d3e;
  border: none;
}

.button a:hover,
.button a:focus,
.button:hover,
.button:focus {
  background-color: #f17f65;
}

.button a:active,
.button:active {
  box-shadow: inset 0px 2px 2px  #942718;
}

.user-cart {
  background-color: #f8f7f4;
}

.user-cart td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.user-cart b {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.per-kg {
  color: #999999;
}

.index-1 {
  margin: 550px auto 0px;
  width: 700px;
}

.index-1 h2,
.index-2 h2,
.index-3 h2 {
  margin: 0;
  color: #ffffff;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.advertisement ul {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.raspberry .button,
.chocolate .button {
  display: inline-block;
  margin-top: 20px;
}

.advertisement h2 {
  margin: 7px 10px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.advertisement p {
  margin: 10px 12px 0 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.raspberry {
  width: 560px;
  height: 230px;

  background-image: url("../img/raspberry.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.chocolate {
  width: 560px;
  height: 230px;

  background-image: url("../img/choco.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.features {


  background-image: url("../img/background-feature.png");
  border-radius: 10px;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features h2 {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.layout-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 37px;
}

.blog {
  width: 560px;
  height: 220px;

  background-image: url("../img/background-strawberry.jpg");
  border-radius: 10px;
  background-position: 20% 40%;
  background-repeat: no-repeat;
}

.blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.mailing {
  width: 560px;
  height: 220px;

  border-image-source: url("../img/bg-post.svg");
  border-radius: 10px;
  background-color: #f8f7f4;
}

.mailing input[type="email"]{
  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.mailing input[type="email"]:hover,
.mailing input[type="email"]:focus {
  border: 2px solid #d3d3d2;
}

.map-container {
  width: 1210px;
  margin: 0 auto;
}

.contacts-container {
  position: absolute;
  top: 2450px;
  left: 1220px;
  margin-right: 27px;
  padding: 25px 20px;
  box-sizing: border-box;

  width: 302px;
  border-radius: 15px;

  background-color: #feffff;

}

.contacts h2,
.contacts p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts b {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts  p a {
  color: #323232;
  text-decoration: none;
}

.contacts-container .button {
  display: inline-block;
  margin: 25px 15px 0 15px;
}

.write-to-us {
  background-color: #f8f7f4;
}

.answer-us-form input[type="email"],
.answer-us-form input[type="text"] {
  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.answer-us-form input[type="email"]:hover,
.answer-us-form input[type="email"]:focus,
.answer-us-form input[type="text"]:hover,
.answer-us-form input[type="text"]:focus {
  border: 2px solid #d3d3d2;
}

textarea {
  height: 155px;
  width: 430px;
  resize: none;

  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

textarea:hover,
textarea:focus {
  border: 2px solid #d3d3d2;
}

