body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.site-wrapper {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.background-wrapper {
  min-width: 940px;
  background-image: url("../img/background-index1.png");
  background-repeat: no-repeat;
  background-color: #849d8f;
  background-position-x: center;
  background-position-y: top;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.background-wrapper::before,
.background-wrapper::after {
  content: "";

  visibility: hidden;
}

.background-wrapper::before {
  background-image: url("../img/background-index2.png");
}

.background-wrapper::after {
  background-image: url("../img/background-index3.png");
}

.inner-page {
  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.round {
  border-radius: 140px;
  border: none;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 8px auto 0px;
  width: 700px;
  text-align: center;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 3px;/*63px??*/
  left: 0;
  z-index: 20;

  font-size: 0;
}

#product-1:checked ~ .background-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-index1.png");
}


#product-2:checked ~ .background-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-index2.png");
}

#product-3:checked ~ .background-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-index3.png");
}


#product-1:checked ~ .background-wrapper #index-1,
#product-2:checked ~ .background-wrapper #index-2,
#product-3:checked ~ .background-wrapper #index-3 {
  display: block;
}

#product-1:checked ~ .background-wrapper label[for="product-1"],
#product-2:checked ~ .background-wrapper label[for="product-2"],
#product-3:checked ~ .background-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-header {
  margin: 0 auto;
}

 .main-navigation,
 .header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 }

.site-navigation {
  width: 500px;
}

.site-navigation {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation > li {
  display: block;
  padding: 0 13px;
  border-radius: 50px;
}

.site-navigation > li:hover {
  background-color: #f8f7f4;
  border: none;
}

.site-navigation > li > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  line-height: 18px;
}

.site-navigation > li:hover > a,
.site-navigation > li:focus > a {
  color: #333333;
}

.site-navigation li:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation .current {
  background-color: #d07058;
}

.catalog-menu {
  position: relative;
  margin-left: 20px;
}

.catalog-menu::after {
  content: "";

  position: absolute;
  left: -15px;
  height: 5px;
  width: 143px;
  background-color: transparent;
}

.sub-menu {
  position: absolute;
  z-index: 10;
  left: -15px;
  top: 27px;
  width: 143px;
  display: none;
  box-shadow: 0px 10px 35px #323232;
}

.sub-menu .submenu-current {
  background-color: #d07058;
  color: #ffffff;
}

.catalog-menu:hover .sub-menu {
  display: block;
}

.kind-of-item {
  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 5px;
  list-style: none;
}

.kind-of-item a {
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 27px;
  box-sizing: border-box;

  color: #323232;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.kind-of-item a:hover,
.kind-of-item a:focus {
  background-color: #fbded7;
}

.kind-of-item a:active {
  background-color: #f6b5a5;
}

.news-first {
  margin-bottom: 5px;
  padding-bottom: 10px;

  box-shadow: 0px 6px 0 -5px rgba(50, 50, 50, 0.3);
}

.header-contacts {
  float: right;
  margin-top: -15px;
  margin-right: 10px;
}

.user-navigation {
  position: relative;
  width: 267px;
}

.user-navigation {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.search-loupe {
  position: relative;
  width: 33px;
  min-height: 30px;

  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-loupe svg {
  position: absolute;
  left: 8px;
  top: 6px;
}

.search-block {
  position: relative;
  z-index: 20;
}

.search-block:hover .search-loupe {
  background-color: white;
  cursor: pointer;
}

.search-block:hover path {
  fill: #000000;
}

.search-block:hover .search-container {
  display: block;
}

.search-block::after {
  content: "";

  position: absolute;
  top: 30px;
  left: -310px;
  width: 344px;
  height: 5px;
}

.search-block .search-container {
  display: none;
  position: absolute;
  z-index: 10;
  right: 1px;
  top: 35px;
  width: 344px;
  box-sizing: border-box;
  padding: 20px 12px;
  border-radius: 5px;
  text-align: center;

  background-color: #f8f7f4;
  box-shadow: 0px 10px 35px #323232;

}

.search input[type="search"]{
  width: 310px;
  padding: 11px 0 11px 12px;

  color: #999999;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search input[type="search"]:hover,
.search input[type="search"]:focus {
  border: 2px solid #d3d3d2;
}

.login-link-header:hover a,
.cart-link-header:hover  a {
  color: #323232;
}

.login-link-header:hover g,
.cart-link-header:hover g {
  fill: #000000;
}

.login-link-header,
.cart-link-header {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  padding: 4px 15px;
  border-radius: 60px;

  background-color: rgba(255, 255, 255, 0.2);
}

.login-link-header:hover {
  background-color: #ffffff;
}

.login-link-header:hover .modal-login {
  display: block;
}

.login-link {
  min-width: 94px;
}

.login-link svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.login-link-header::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: -146px;
  width: 282px;
  height: 5px;
}

.cart-link-header:hover,
.inner-page .cart-link-header {
  background-color: #ffffff;
}

.inner-page .cart-link-header > a {
  color: #323232;
}

.cart-link {
  min-width: 118px;
}

.cart-link svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;

}

.header-contacts p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-contacts a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

.slider-switches {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-1 .button {
  display: inline-block;
  padding: 15px 55px;
  margin: 40px auto;
}

.filter-wrapper {
  margin-top: 26px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: "\00BB";
  margin: 0 6px;

  color: #ffffff;
}

h1 {
  margin: 0;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  width: 700px;
  flex-wrap: wrap;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border: none;
}

.filter fieldset:last-of-type {
  margin-top: 17px;
}

.filter legend {
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter select,
.filter-mask,
.filter button {
  padding: 5px;
  border-radius: 60px;

  color: #ffffff;
  line-height: 18px;

  background-color: #aabcb2;
  border: none;
}

.filter button:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter button:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog-list ul,
.bestsellers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bestsellers-wrap,
.catalog-list-wrapper {
  width: 1174px;
  margin: 45px auto;
}

.item {
  width: 293px;
}

.item article {
  position: relative;
  padding: 0 13px;
  text-align: center;
}

.hit-item::before {
  content: "";

  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item a {
  color: #ffffff;
  text-decoration: none;
}

.item h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.item p {
  display: none;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.item:hover p {
  position: absolute;
  z-index: 10;
  bottom: -55px;
  left: 46px;
  display: inline-block;
  padding: 10px 0;
  margin: 0;
  width: 200px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;

  cursor: pointer;
}

.item p:hover,
.item p:focus {
  background-color: #f38266;
}

.item p:active {
  background-color: #db5238;
  box-shadow: inset 0px 2px 2px #942718 ;
}

.item img {
  margin-bottom: -63px;
}

.item .price-and-weight {
  display: inline-block;
  margin-left: -120px;
}

.item .price {
  font-size: 45px;
  color: #ffffff;
  line-height: 45px;
}

.ruble {
  font-size: 37px;
  font-weight: 500;
}

.item .weight {
  font-size: 30px;
  color: #ffffff;
  line-height: 45px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.prev svg {
  transform: rotate(180deg);
}

.pagination-list a {
  padding: 5px 10px;
  border-radius: 60px;
  margin-right: 5px;

  text-decoration: none;
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #ffffff;

  background-color: #9bafa4;
  /*пока не знаю как сделать прозрачную подложку*/
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}

.footer-social {
  width: 267px;
}

.footer-social  a {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 230px;
  margin-right: 10px;
}

 .social:hover g,
 .social:hover path {
  fill: #ffffff;
}

.social:active {
  border: 2px solid #dae2de;
}

.social:active g,
.social:active path {
  fill: #e9e9e9;
}

.info ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 322px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;
  text-align: center;
  list-style: none;
}

.info li {
  display: inline-block;
  text-align: left;
  min-width: 140px;
}

.info a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.info a::before {
  content: "";

  position: absolute;
  display: none;
  width: 17px;
  height: 14px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.partners::before {
  top: 3px;
  left: -20px;
}

.documents::before {
  top: 3px;
  right: 185px;
}

.factory::before {
  bottom: -1px;
  left: -20px;
}

.eco-standarts::before {
  bottom: -1px;
  right: 185px;
}

.info {
  position: relative;
  width: 330px;
}

.info svg {
  position: absolute;
  left: -22px;

}

.info a:hover {
  font-weight: 700;
}

.info li:hover a::before {
  display: block;
}

.footer-copyright {
  position: relative;
  align-self: flex-end;
  width: 267px;
}

.footer-copyright::before {
  content: "";

  position: absolute;
  bottom: 15px;
  width: 108px;
  height: 40px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.footer-copyright a,
.footer-copyright p {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-copyright a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-login {
  display: none;
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 130px;

  box-shadow: 0px 10px 35px #323232;

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;

  background-color: #f8f7f4;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 242px;

  color: #999999;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form input[type="email"]:hover,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:hover,
.login-form input[type="password"]:focus {
  border: 2px solid #d3d3d2;
}

.help {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.help a {
  padding: 0;
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  background-color: inherit;
  text-decoration: underline;
}

.help a:hover,
.help a:focus,
.help a:active  {
  color: #e84d37;
  background: none;
}

.help p {
  margin: 0;
}

.login-form .button {
  align-self: flex-start;

  padding-left: 24px;
  padding-right: 24px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d87432 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.cart-table {
  position: absolute;
  display: none;
  top: 35px;
  right: 10px;
  min-width: 540px;
}

.cart-link-header:hover .cart-table {
  display: block;
}

.cart-table .button {
  padding: 14px;
  position: absolute;
  bottom: 25px;
  right: 170px;
}

.cart-table:hover .button {
  color: #ffffff;
}

.user-cart {
  padding: 10px 15px;
  box-sizing: border-box;
  min-height: 243px;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.user-cart td:nth-child(3) {
  width: 225px;
  text-align: left;
}

.user-cart td:nth-child(4) {
  width: 152px;
}

.user-cart td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.user-cart tr:last-child {
  text-align: end;
}

.user-cart button {
  padding: 0;

  cursor: pointer;
  border: none;
  background-color: #f8f7f4;
}

.user-cart button img {
  margin-right: 10px;
}

.user-cart .round {
  margin-right: 10px;
}

.user-cart b {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.per-kg {
  color: #999999;
}

.advertisement ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 60px;
  padding: 0;

  list-style: none;
  color: #ffffff;
}

.advertisement h2 {
  margin: 0;
  margin-bottom: 17px;

  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.advertisement p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.raspberry {
  width: 560px;
  height: 230px;
  padding: 10px 17px;
  box-sizing: border-box;

  background-image: url("../img/raspberry.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.raspberry .button {
  padding: 12px 22px;
  margin-left: 362px;
  margin-top: 40px;
}

.chocolate {
  width: 560px;
  height: 230px;
  padding: 10px 17px;
  box-sizing: border-box;

  background-image: url("../img/choco.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.chocolate .button {
  padding: 12px 22px;
  margin-left: 333px;
  margin-top: 40px;
}

.features {
  background-image: url("../img/background-feature.png");
  border-radius: 10px;
}

.features ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  list-style: none;
  margin: 0;
  padding: 0;
}

.features p {
  width: 486px;
  margin: 0;
  margin-left: 73px;
  margin-bottom: 26px;
}

.features svg {
  float: left;
  margin-left: 19px;
}

.features h2 {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.ice-cream::before {
  content: "";

  position: absolute;
  top: -10px;
  left: 16px;
  width: 50px;
  height: 50px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.cow::before {
  content: "";

  position: absolute;
  top: -10px;
  right: 520px;
  width: 50px;
  height: 50px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.leaf::before {
  content: "";

  position: absolute;
  left: 17px;
  bottom: 80px;
  width: 50px;
  height: 50px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.thermometer::before {
  content: "";

  position: absolute;
  right: 520px;
  bottom: 80px;
  width: 50px;
  height: 50px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.layout-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 37px;
}

.blog {
  width: 560px;
  height: 220px;
  padding-top: 26px;
  padding-left: 19px;
  box-sizing: border-box;

  background-image: url("../img/background-strawberry.jpg");
  border-radius: 10px;
  background-position: 20% 40%;
  background-repeat: no-repeat;
}

.blog h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.blog p {
  width: 284px;
  margin: 0;
}

.mailing-container {
  padding: 5px;

  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.mailing {
  width: 550px;
  padding: 30px 20px 30px 17px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.mailing p {
  margin: 0;
  margin-bottom: 35px;
}

.mailing input[type="email"]{
  padding: 13px 160px 13px 13px;

  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.mailing input[type="email"]:hover,
.mailing input[type="email"]:focus {
  border: 2px solid #d3d3d2;
}

.mailing .button {
  padding: 12px 20px;
}

.map-container {
  width: 1210px;
  margin: 0 auto;
}

.contacts {
  position: relative;
}

.contacts-container {
  position: absolute;
  bottom: 54px;
  right: 27px;
  padding: 25px 20px;
  box-sizing: border-box;

  width: 302px;
  border-radius: 15px;

  background-color: #feffff;

}

.contacts h2,
.contacts p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts b {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts  p a {
  color: #323232;
  text-decoration: none;
}

.contacts-container .button {
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 23px;
}

.write-to-us {
  background-color: #f8f7f4;
}

.answer-us-form input[type="email"],
.answer-us-form input[type="text"] {
  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.answer-us-form input[type="email"]:hover,
.answer-us-form input[type="email"]:focus,
.answer-us-form input[type="text"]:hover,
.answer-us-form input[type="text"]:focus {
  border: 2px solid #d3d3d2;
}

textarea {
  height: 155px;
  width: 430px;
  resize: none;

  color: #999999;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

textarea:hover,
textarea:focus {
  border: 2px solid #d3d3d2;
}

